# .gitignore
__pycache__/
*.pyc
ear/__pycache__
ear/meteo/.env.example
ear/meteo/.env
ear/meteo/.env.local
ear/meteo/*.env
ear/__pycache__/
ear/__pycache__/*.pyc
ear/__pycache__/ear_gui.cpython-313.pyc